pre {
  height: auto;
  background-color: $light;
  white-space: pre;
  tab-size: 2;
  // padding-left: 1em;
  overflow: hidden;
  border-radius: $br2;
  box-shadow: $box-shadow1;
}

code {
  padding: 1em;
  display: block;
  color: $light;
  overflow-x: auto;
  background-color: $theme-black;
  font-family: monospace;
  line-height: 130%;
  font-size: $sml;
}

.t { color: $red;}        /*css - id, decorator */
.a { color: $yellow;}  /*css - property */
.s { color: $white;}     /*css - value */
.c { color: $grey-100;}    /*css - comment */
.k { color: $blue;}    /*css - n/a*/
.p { color: $blue;}   /*css - n/a*/
.o { color: $yellow;}   /*css - n/a*/
.n { color: $green;}     /*css - n/a*/
.l { color: $green;}      /*css - class */