@mixin form($type, $limit: 300px, $padding: 20px) {
    min-height: 50px;
    min-width: 300px;
    padding: $padding;
    @if $type == "form" {
      width: 100%;
    } @else if $type == "form--limited" {
      max-width: $limit;
      margin: 0 auto;
    }
  }
  
  .form {
    @include form("form");
  }
  .form--tiny {
    @include form("form--limited", 275px);
  }
  .form--sml {
    @include form("form--limited", 500px);
  }
  .form--lrg {
    @include form("form--limited", 1000px);
  }
  .form--no-padding {
    @include form("form", 10px, 0);
  }
  
  .form__title {
    margin-bottom: 0.5em;
  }
  .form__heading,
  .form__sub-heading {
    margin: 1em 0;
  }
  
  // A field is a form element that generally contains
  // a label and an input
  // It can optionally contain as many labels and inputs
  // as needed and is not limited to one of each
  .field {
    margin: 0.5em 0;
    border: 0;
    &.full {
      display: block;
      width: 100%;
    }
  }
  
  // A field group facilitates checkbox and
  // radio button label/inputs each combination
  // of these should be placed in a field group
  // to adhere to good coding standards
  .field__group {
    @include flex(row, nowrap, space-between, center);
    width: 100px;
    margin: 0 auto;
  }
  
  // Labels are meant to be used with every
  // input element. even checkboxes and
  // radio inputs dispite their respective
  // labels that form the cosmetic part
  .label {
    display: block;
    margin-bottom: 0.2em;
    &.side {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
  }
  
  // functional/cosmetic checkbox
  .label--checkbox {
    cursor: pointer;
    font-size: 1.3em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.25em;
  
    &::before {
      content: "";
      display: block;
      height: 16px;
      width: 16px;
      border: 3px solid grey;
      vertical-align: middle;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.2);
      transition: all 300ms ease;
    }
  }
  
  .label--radio {
    cursor: pointer;
    font-size: 1.3em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.25em;
    &:before {
      content: "";
      display: block;
      height: 16px;
      width: 16px;
      border: 3px solid grey;
      vertical-align: middle;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.2);
      transition: all 300ms ease;
    }
  }
  
  .input {
    padding: 0.5em;
    border: 0;
    background-color: $white;
    transition: background-color 300ms ease-in-out;
    &:focus {
      outline: 0;
      background-color: #ccc;
    }
    &.full {
      display: block;
      width: 100%;
    }
    &.breath {
      margin: 0.25em 0;
    }
  }
  
  .input--checkbox {
    display: none;
    &:checked + .label--checkbox::before {
      content: "";
      font-size: 10px;
      background-color: grey;
    }
  }
  
  .input--radio {
    display: none;
    &:checked + .label--radio::before {
      content: "";
      font-size: 10px;
      background-color: grey;
    }
  }
  
  .input--select {
    padding: 0.5em;
    border: 0;
    background-color: #eee;
    transition: background-color 300ms ease-in-out;
    &:focus {
      outline: 0;
      background-color: #ccc;
    }
    &.full {
      display: block;
      width: 100%;
    }
    &.breath {
      margin: 0.25em 0;
    }
  }
  .input--textarea {
    resize: none;
    min-height: 100px;
    max-height: 150px;
    overflow-y: auto;
    padding: 0.5em;
    border: 0;
    background-color: $white;
    transition: background-color 300ms ease-in-out;
    &:focus {
      outline: 0;
      background-color: #ccc;
    }
    &.full {
      width: 100%;
    }
  }