$modal-types: "basic", "backdrop";
$modal-sizes: (
  "sml": 300px,
  "mdm": 600px,
  "lrg": 900px
);

@mixin modal($type: "basic", $size: "sml") {
  width: $size;
  position: absolute;
}

.modal__container {
	@include flex(row, nowrap, center, center);
  z-index: $z-5;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1em;
  background-color: $semiTrans;
}

.modal {
  min-width: 300px;
  width: 70vw;
  max-width: 1000px;
  background-color: white;
  border-radius: 4px;
}

.modal__body {
  padding: 1em;
}

.modal__header {
  padding: 1em;
  border-bottom: 0.5px solid $grey-150;
  font-size: 20px;
}
.modal__footer {
  padding: 1em;
  border-top: 0.5px solid $grey-150;
}
.modal__img {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  vertical-align: middle;
}
.modal__text {
  margin-top: 1.8em;
}
.modal__text__heading {
  font-size: 20px;
  margin-bottom: 0.8em;
}
.modal__text__body {
  p {
    margin-bottom: 1em;
  }
}

.modal__img__preview {
  width: 100%;
  display: block;
}

@media screen and (min-width: 40em) {
  .modal__body {
    @include flex(row, nowrap, flex-start);
  }

  .modal__img {
    max-width: 45%;
    margin: 0;
  }

  .modal__text {
    margin-top: 0;
    margin-left: 2em;
  }
}
