.header {
  @include flex (row, nowrap, flex-start, center);
  padding-left: 1em;
  position: relative;
  height: 60px;
  
  // background-color: $theme-purple;
  background-color: $light;
  border-bottom: 2px solid $theme-red;
}

.logo {
  font-size: $mdm;
  color: $theme-purple;
  // color: $light;
  // display: block;
  font-weight: 900;
  vertical-align: middle;
}
.logo__icon {
  font-weight: 500;
  margin-left: .5em;
}

.header--auth {
  @include flex (row, nowrap, flex-start, center);
  padding-left: 1em;
  height: 60px;
}

.header--auth__title {
  font-weight: 700;
  margin-left: .5em;
  display: block;
  font-size: $main;
}
.header--auth__nav__toggle {
  height: 40px;
  width: 40px;
  @include flex(row, nowrap, center, center);
  @include bp-sml {
    display: none;
  }
}
.header--auth {}
.header--auth {}

.nav--auth {
  @include transition;
  z-index: $z-5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 0;
  background-color: $light;
  overflow: hidden;
  &.open { max-height: 100vh}
  @include bp-sml {
    z-index: $z-0;
    grid-column: span 4;
    position: static;
    max-height: 100%;
    min-height: 80vh;
    width: 300px;
    justify-self: end;
  }
}

.nav--auth__toggle {
  height: 40px;
  width: 40px;
  @include flex(row, nowrap, center, center);
  @include bp-sml {
    display: none;
  }
}
.nav--auth__header {
  @include flex (row, nowrap, space-between, center);
  padding-left: 1em;
  padding-right: 1em;
  height: 60px;
  background-color: $white;
  @include bp-sml {
    @include flex(row, nowrap, flex-end, center);
  }
}
.nav--auth__header__btn{
  @include transition;
  padding: 1em 0;
  height: 60px;
  width: 60px;
  @include flex(column, nowrap, space-between, center);
  text-decoration: none;
  color: $theme-purple;
  span {
    font-size: $ex-tiny;
    font-weight: 700;
  }
  &:hover {
    color: $grey;
  }
}
.nav--auth__header{}
.nav--auth__body{
  padding: 1em;
  text-align: center;
}
.nav--auth__body{}
.nav--auth__header__btns{
  @include flex(row, nowrap, center, center);
}
.nav--auth{}