$nav-orientation: "vertical" "horizontal";
$nav-directions: "top" "left" "right";
$nav-positions: "fixed" "absolute" "relative";
$nav-options: "sticky" "full-page" "responsive";

// Going to hold off on nav for now... too many variations
// Most likely navs should be created custom per pattern library

.nav {
    @include transition();
    position: fixed;
    right: 0;
    bottom: 10vh;
    height: 45px;
    width: 45px;
    z-index: $z-5;

    &.open {
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        background-color: $theme-purple;
        display: flex;
        justify-content: center;
        align-items: center;

        & > .nav__btn {
            color: $theme-orange;
            background-color: $light;
        }

        & > .nav__list {height: auto;}
        @include bp-sml {
            height: auto;
            width:auto;
            background-color: transparent;
        }
    }

    @include bp-sml {
        display: block;
        height: auto;
        width: auto;
        position: static;
        z-index: $z-05;
        margin-left: 1em;
        height: 100%;
        & > .nav__btn { display: none;}
    }
}
.nav__btn {
    @include transition();
    cursor: pointer;
    color: $light;
    background-color: $theme-orange;
    font-size: 30px;
    position: fixed;
    right: 0;
    bottom: 10vh;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0 0 4px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.nav__list {
    @include transition();
    height: 0;
    overflow: hidden;
    width: 250px;
    list-style: none;
    @include bp-sml {
        @include flex(row, nowrap, flex-start, center);
        height: 100%;
        width: auto;
    }
}
.nav__link {
    @include transition(color);
    color: $grey-trans;
    text-decoration: none;
    font-size: $mid;
    display: block;
    padding-left: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45px;
    border: 0;
    border-left: 1px solid $theme-purple;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    width: 100%;
    &:hover {
        color: $theme-red;
        border-color: $theme-red;
    }
    @include bp-sml {
        font-size: $initial;
        height: 60px;
        border: none;
        padding: 0 1em;
        color: $light;
    }

    &.hide--sml {
        @include bp-sml {
            display: none;
        }
    }
}