.dashboard {}
.dashboard__banner {}
.dashboard__section {}
.dashboard__section__sub-heading {
  padding: .3em 1em;
  margin: .5em 0;
}
.dashboard__section__heading {
  padding: .3em 1em;
}
.dashboard__section__title {
  display: block;
  padding-left: 1rem;
  // border-bottom: 3px dashed $theme-purple;
  // color: $theme-red;
  color: $theme-black;
}
.dashboard__section__sub-title {
  display: block;
  padding-left: 1rem;
  border-left: 3px solid $theme-orange;
  font-style: italic;
}