.dashboard {}
.dashboard__container{
  padding: 1em;
}
.dashboard__banner {}
.dashboard__section {}
.dashboard__section__sub-heading {
  padding: .3em 1em;
  margin: .5em 0;
}
.dashboard__section__heading {
  padding: .3em 0;
}
.dashboard__section__title {
  display: block;
  // padding-left: 1rem;
  // border-bottom: 3px dashed $theme-purple;
  // color: $theme-red;
  color: $theme-black;
}
.dashboard__section__sub-title {
  display: block;
  padding-left: 1rem;
  border-left: 3px solid $theme-orange;
  font-style: italic;
}

.user-info {
  padding: 1em;
  margin: 1em auto;
  background-color: $grey-150;
  border-radius: $br;
  max-width: 280px;
}
.user__avatar {
  @include flex(column, nowrap, center, center);
  margin-top: 1em;
}
.user__avatar__img {
  height: 100px;
  width: 100px;
  vertical-align: middle;
  
}
.user__avatar__img__wrapper {
  overflow: hidden;
  border-radius: 50px;
  background-color: white;
  margin-bottom: 1em;
  box-shadow: $box-shadow1;
}
.user__avatar__name {}
.user__avatar__name__wrapper {}