.home__banner {
  position: relative;
  background: url("https://images.unsplash.com/photo-1537510280653-94392a751a7c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d0ee6790cd3fe46a4e5ba9f3abed38fa&auto=format&fit=crop&w=1868&q=80");
  background-size: cover;
  background-position: center;
  // height: calc(100vh - 60px);
  height: calc(100vh - 60px);
  @include flex (column, nowrap, center, center);

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $theme-purple;
    opacity: .75;
    z-index: $z-05;
  }

  h1 {
    color: $light;
    padding: 1em;
    margin: 0 auto;
    position: relative;
    z-index: $z-1;
    span {
      color: $theme-orange;
    }
  }
}
.home__banner__btn {
  z-index: $z-1;
  background-color: transparent !important;
  border-width: 4px;
  font-weight: 700;
  border-radius: 0;
  &:hover {
    background-color: $theme-orange !important;
    color: white;
    opacity: 1;
  }
}
.home__section {
  @include flex(row, nowrap, center, center);
  height: 100vh;
}
.home__section__item {
  text-align: center;
}