.search__bar{
  @include flex(row, nowrap, flex-start, center);
  padding-left: 1em;
  height: 60px;
}

.styleGuides__container{
  @include flex(column, nowrap, flex-start, center);
  padding: 1em;
}

.styleGuides__entry {
  @include bp-sml {
    @include flex(row, nowrap, flex-start, flex-start);
  }
  min-width: 250px;
  width: 70%;
  max-width: 700px;
  border-radius: $br;
  background-color: $theme-purple;
  padding: .75em;
  text-decoration: none;
  color: $white;
  margin-bottom: 1em;

}
.styleGuides__entry__title {
  font-size: $main;
  min-width: 150px;
}
.styleGuides__entry__date {
  font-size: $tiny;
  opacity: .8;
}
.styleGuides__entry__description {
  margin-top: .5em;
  line-height: 130%;
}

